<!DOCTYPE html>
<head>
   <title>Kiosk</title>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/css/light_control.css">
   <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">-->
   <script src="/static/js/jquery.min.js"></script>
</head>

<body>
<div id="wrapper">
	<div class="row">
		<div class="col-md-2 text-center">
			<h3>Kitchen</h3>			   
			<a href="#" id="kitchen_off" class="kitchen off btn btn-block btn-lg btn-default" role="button" onclick="fun('kitchen', 'off', 'False');">Off</a>
			<a href="#" id="kitchen_on"  class="kitchen on  btn btn-block btn-lg btn-default" role="button" onclick="fun('kitchen', 'color', 'white');">On</a>
		</div>
		<div class="col-md-2 text-center">
			<h3>Bed</h3>
			<a href="#" id="bedroom_off" class="bedroom off btn btn-block btn-lg btn-default" role="button" onclick="fun('bedroom', 'off', 'False');">Off</a>
			<a href="#" id="bedroom_on" class="bedroom on btn btn-block btn-lg btn-default " role="button" onclick="fun('bedroom', 'ct', '3806');">On</a>
			<a href="#" id="bedroom_night" class="bedroom night btn btn-block btn-lg btn-default " role="button" onclick="fun('bedroom', 'mode', 'night');">Night</a>
			<a href="#" id="bedroom_cool" class="bedroom cool btn btn-block btn-lg btn-default " role="button" onclick="fun('bedroom', 'ct', '5507');">Cool</a>
		</div>
		<div class="col-md-2 text-center">
			<h3>Lamp</h3>
			<a href="#" id="lamp_off" class="lamp off btn btn-block btn-lg btn-default " role="button" onclick="fun('lamp', 'off', 'False');">Off</a>
			<a href="#" id="lamp_on" class="lamp on btn btn-block btn-lg btn-default " role="button" onclick="fun('lamp', 'ct', '3806');">On</a>
			<a href="#" id="lamp_warm" class="lamp warm btn btn-block btn-lg btn-default " role="button" onclick="fun('lamp', 'ct', '3116');">Warm</a>
			<a href="#" id="lamp_cool" class="lamp cool btn btn-block btn-lg btn-default " role="button" onclick="fun('lamp', 'ct', '5507');">Cool</a>
		</div>
		<div class="col-md-2 text-center">
			<h3>All</h3>
			<a href="#" class="btn btn-block btn-lg btn-default " role="button" onclick="fun('all', 'off', 'False');">All Off</a>
		</div>
		<div class="col-md-4 text-right">
			<h3 id="time_span">
				00:00
			</h3>
			<h4 id="temp_humi">
				-- °C<br/>-- %
			</h4>
			
		</div>
	</div>
</div>
<script>
function fun(bulb, action, param) {
  // e.preventDefault();
  $.ajax({
        type: "GET",
        url: "/yee",
        data: { 
            bulb: bulb,
			action: action,
			param: param,
			
        },
        success: function(result) {
			//console.log("I am trying to get bulb info!");
			if (bulb=="all") {
				get_bulb_info('kitchen', true);
				get_bulb_info('lamp', true);
				get_bulb_info('bedroom', true);
			} else {
				get_bulb_info(bulb, true);
			}
            //alert('ok');
        },
        error: function(result) {
            //alert('error');
        }
    });
}

function get_bulb_info(bulb_name='all', single=false) {
	// Requests and processes status of a specific bulb (or all of them)
	$.getJSON( "/status/"+bulb_name, function( data ) {
	
	    // Find which buttons should be active (can take a long time!)
		var elems = []  // define this variable to be accessible after for loop
		var bulbs_to_off = []
		$.each( data, function( key, val ) {
			// find which buttons to turn on
			var qs = "."+val+"."+key;
			bulbs_to_off.push(key);
			//console.log(qs);
			elems.push(document.querySelectorAll(qs));
			//console.log(elems);
		});
		//console.log(bulbs_to_off);
			
		// Turn off all buttons of this bulb
		// TODO: move to a separate function
		for (i in bulbs_to_off) {
			var qs2 = ".btn-primary."+bulbs_to_off[i];
			//console.log(qs2);
			var elems2 = document.querySelectorAll(qs2);
			[].forEach.call(elems2, function(el) {
				el.classList.remove("btn-primary");
			});
		}
		
		// Activate the newly active button(s)
		for (j in elems) {
			[].forEach.call(elems[j], function(el) {
				el.classList.add("btn-primary");
			});
		}
		
		// Unless said otherwise, run again in 10 seconds
		if (!single) {
			setTimeout(get_bulb_info, 10000);
		}
		
	});
}

function updateTime(){
    var currentTime = new Date()
    var hours = currentTime.getHours()
    var minutes = currentTime.getMinutes()
    if (minutes < 10){
        minutes = "0" + minutes
    }
    var t_str = hours + ":" + minutes + " ";
    //if(hours > 11){
    //    t_str += "PM";
    //} else {
    //    t_str += "AM";
    //}
    document.getElementById('time_span').innerHTML = t_str;
}

async function updateTempHumi () {
  // Create URL that will give us new ingredients
  let url_calendar_room = '/humitemp';
  // Fetch the response and extract text
  let response = await fetch(url_calendar_room);
  let data = await response.text(); //.json();
  // Fill the appropriate element with response
  document.getElementById("temp_humi").innerHTML = data;
  // Update the displayed number of servings
  //document.getElementById("servings").innerText = servings;
}


$(document).ready(function () {
  // Code that will run once the entire DOM is loaded into the browser
  
  // Start periodic refreshing of status for each bulb 
  get_bulb_info('kitchen');
  get_bulb_info('lamp');
  get_bulb_info('bedroom');
  
  // Start timer to update clock
  setInterval(updateTime, 1000);
  
  // Update temperature and humidity
  updateTempHumi();
  setInterval(updateTempHumi, 10000);
});


</script>
   
</body>
</html>

